body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.navigation {
  background-color: #006d77;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.navitem {
  height: 100%;
}

.navlink {
  height: 100%;
  background: none;
  border: none;
  padding: 10px 40px;
  color: #edf6f9;
  cursor: pointer;
  font-size: 16px;
}

.navlink-active {
  background-color: #edf6f9;
  color: #006d77;
}

.categories {
  width: 20%;
  background-color: #83c5be;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.category-item {
  border: none;
  cursor: pointer;
  background-color: #83c5be;
  padding: 10px;
  color: #006d77;
  font-weight: 700;
  width: 100%;
  text-align: start;
  font-size: 15px;
}

.category-item-active {
  background-color: #006d77;
  color: #edf6f9;
  border: 1px solid #edf6f9;;
}

.subcategories {
  display: flex;
  flex-direction: column;
}

.subcategory-item {
  padding: 10px;
  background-color: #83c5be;
  border: none;
  text-align: start;
  padding: 10px;
  padding-left: 20px;
  color: #006d77;
  cursor: pointer;
}

.subcategory-item-active {
  background-color: #006d77;
  color: #edf6f9;
}

.items {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin: auto;
  background-color: white;
  padding: 20px;
  width: 60%;
  margin: 10px 0;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
  border-radius: 6px;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
}

.review-button {
  background-color: #006d77;
  padding: 10px;
  font-size: 15px;
  height: 40px;
  color: #edf6f9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.review-title {
  color: #006d77;
  font-weight: 700;
}